:root {}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

/* Logo */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.article {}

/* Text */

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

/* Buttons */

.main-button {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    text-align: center;

}

.buttons {}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;

    text-align: center;
}

/* Header */

.header {}

.header-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/* Menu */

.menu {}

.menu-nav {}

/* Contacts */

.contacts {}

.contacts-nav {}

/* Main */

.main {}

.main-tittle {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    text-transform: uppercase;
}

/* Section */

.section {}

.section-tittle {
    font-size: 36px;
    line-height: 1.6;
    letter-spacing: 0.03em;

    text-align: center;
}

/* Features */

.features {}

.features-story {}

.features-tittle {
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.03em;

    text-transform: uppercase;
}

.features-text {}

/* Projects */

.projects {}

.projects-example {}

/* Team */

.team {}

.team-person {}

.person-img {}

.person-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

/* Portfolio */

.portfolio {}

.portfolio-example {}

.portfolio-tittle {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

/* Footer */

.footer {}

/* Address */

.address {
    font-style: normal;
}

.address-book {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;


}